<!--Fourth section-->
<div class="max-w-screen-lg m-auto mt-11 ">
  <div class="grid grid-cols-12 mx-4 gap-x-10  mt-22 mb-28">
    <div class=" col-span-6 w-full ">
      <p class="mb-10 text-2xl text-primary font-bold">Te proponemos</p>
      <mat-tab-group class=" text-primary text-base mb-60">
        <mat-tab label="Personalización">
          <p class="mt-12 font-extrabold text-3xl overflow-hidden">¿Y si, además, pudieran acceder a las instalaciones
            de manera
            autónoma?
          </p>
        </mat-tab>
        <mat-tab label="Precisión">
          <p class="mt-12 font-extrabold text-3xl overflow-hidden">¿Y si, además, pudieran acceder a las instalaciones
            de manera
            autónoma?
          </p>
        </mat-tab>
        <mat-tab label="Control">
          <p class="mt-12 font-extrabold text-3xl overflow-hidden">¿Y si, además, pudieran acceder a las instalaciones
            de manera
            autónoma?
          </p>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="col-span-6 w-full mt-[10.5rem]  font-medium text-primary text-lg ">

      <div class="mr-20"> Optimiza tus recursos y amplía tus horarios mediante controles de acceso autónomos</div>
      <div class="mt-[3.663rem]"> <img src="/assets/reservas.svg"></div>
      <div class="mt-[1.9rem] ml-40"><img src="/assets/cobro-tasas.svg"></div>
      <div class="mt-[1.9rem] ml-20"> <img src="/assets/control-acceso.svg"></div>
    </div>
  </div>
</div>
