<!--Fourth section-->
<div class="max-w-screen-lg mt-11 lg:mt-auto lg:mx-auto sm:mx-32 md:mx-10 mx-6 ">
  <div class="md:grid grid-cols-12 lg:mx-4  gap-x-10 ">
    <div class="md:col-span-6     ">
      <p class="mb-10 text-2xl text-primary font-bold tracking-wide">Te proponemos</p>
      <mat-tab-group class=" text-primary text-base md:mb-60">
        <mat-tab label="Personalización">
          <p class="mt-12 font-bold text-3xl lg:text-2xl overflow-hidden">¿Y si, además, pudieran acceder a las instalaciones
            de manera
            autónoma?
          </p>
        </mat-tab>
        <mat-tab label="Precisión">
          <p class="mt-12 font-bold text-3xl lg:text-2xl overflow-hidden">¿Y si, además, pudieran acceder a las instalaciones
            de manera
            autónoma?
          </p>
        </mat-tab>
        <mat-tab label="Control">
          <p class="mt-12 font-bold text-3xl lg:text-2xl overflow-hidden">¿Y si, además, pudieran acceder a las instalaciones
            de manera
            autónoma?
          </p>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="md:col-span-6   md:mt-[10.5rem]  font-medium text-primary text-lg ">
      <div *ngIf="lg || md">
        <div class="md:mr-20 md:mr-10 tracking-wide leading-6 pt-1"> Optimiza tus recursos y amplía tus horarios mediante controles de acceso autónomos</div>
        <div>
          <div class="mt-[3.663rem]"> <img src="/assets/images/reservas.svg"></div>
          <div class="mt-[1.9rem] md:ml-40 "><img src="/assets/images/cobro-tasas.svg"></div>
          <div class="mt-[1.9rem] md:ml-20 "> <img src="/assets/images/control-acceso.svg"></div>
        </div>
      </div>
      <div *ngIf="sm" class="flex mt-10 mb-20">
        <div class="my-2 mr-4 w-1/2">
          <div> <img src="/assets/images/reservas.svg"></div>
          <div class="mt-[1.9rem]"><img src="/assets/images/cobro-tasas.svg"></div>
          <div class="mt-[1.9rem]"> <img src="/assets/images/control-acceso.svg"></div>
        </div>
        <div class="w-1/2 tracking-wide leading-6"> Optimiza tus recursos y amplía tus horarios mediante controles de acceso autónomos</div>
      </div>
      </div>
  </div>
</div>
