<!--Sixth section-->
<div #target class="mt-28 max-w-screen-lg m-auto  ">
  <div class="grid grid-cols-2 md:mx-10 gap-x-10 sm:mx-32 lg:mx-4 mx-11">
    <div class="  w-full font-medium">
      <div class="text-primary mt-[6.5rem] sm:mt-[6.3rem] lg:mt-[6.5rem]">
        <p class="font-bold text-sm sm:text-base">Grupo de funcionalidades</p>
        <hr class="mt-2.5  border  border-secondary">
        <p class="flex mt-2.5 h-[2.75rem] sm:h-[2.75rem] items-center sm:tracking-tight text-xs lg:text-[14px] sm:text-sm">Nombre de la funcionalidad<button
          matTooltip="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor."
          matTooltipClass="example-tooltip-uppercase"
          class="hidden lg:block sm:ml-2.5 bg-[url('/assets/images/info.svg')] w-5 h-5  hover:bg-[url('/assets/images/info2.svg')]"
         >
        </button></p>
        <p class="flex  h-[2.75rem]  items-center sm:tracking-tight text-xs lg:text-[14px] sm:text-sm">Nombre de la funcionalidad <button
          matTooltip="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor."
          matTooltipClass="example-tooltip-uppercase"
          class="hidden lg:block sm:ml-2.5 bg-[url('/assets/images/info.svg')] w-5 h-5  hover:bg-[url('/assets/images/info2.svg')]"
         >

        </button> </p>
        <p class="flex mb-2.5 h-[2.75rem]  items-center sm:tracking-tight  text-xs lg:text-[14px] sm:text-sm ">Nombre de la funcionalidad </p>
        <p class="font-bold text-sm sm:text-base">Grupo de funcionalidades</p>
        <hr class="mt-2.5  border  border-secondary ">
        <p class="flex mt-2.5 h-[2.75rem]  items-center sm:tracking-tight  text-xs lg:text-[14px] sm:text-sm">Nombre de la funcionalidad orem ipsum dolor sit amet <button
          matTooltip="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor."
          matTooltipClass="example-tooltip-uppercase"
          class="hidden lg:block ml-2.5 bg-[url('/assets/images/info.svg')] lg:w-5 lg:h-5 md:h-5 md:w-5 sm:w-5 sm:h-5 h-2 w-2 hover:bg-[url('/assets/images/info2.svg')]"
         >

        </button></p>
        <p class="flex  h-[2.75rem] items-center sm:tracking-tight text-xs  lg:text-[14px]  sm:text-sm">Nombre de la funcionalidad </p>
        <p class="flex mb-2.5 h-[2.75rem]  items-center sm:tracking-tight  text-xs lg:text-[14px] sm:text-sm">Nombre de la funcionalidad </p>
      </div>

    </div>
    <div class="text-primary">
      <div class="grid grid-cols-2 gap-2 ">
        <div class="bg-white border rounded-lg shadow-lg">
          <div class="m-5">
            <p class="translate-y-4 md:translate-y-0 -rotate-90 md:rotate-0 font-bold text-center text-lg  lg:text-2xl mb-2.5 lg:py-0 py-6 md:py-0 sm:py-4">Gratis</p>
            <button type="button"
              class=" hidden md:block flex mx-auto  px-2 rounded-full border border-transparent lg:text-[0.875rem] text-[0.575rem] sm:text-[0.575rem] bg-secondary font-bold leading-6 text-white shadow-sm hover:bg-primary hover:text-white hover:border-primary focus-within:bg-primary focus-within:text-tertiary">
              Pruébalo ahora</button>
            <hr class="mt-[3.125rem]  border  border-gray">
            <div class="flex justify-center mt-2.5 h-[2.75rem] "> <img class="w-3.5" src="/assets/images/tick.svg"></div>
            <div class="flex justify-center h-[2.75rem] items-center "><p class="hidden md:block sm:hidden lg:block text-xs lg:text-[14px] md:text-base  sm:text-sm">Descripción o detalle</p><p class="lg:hidden md:hidden  block">*</p></div>
            <div class="flex justify-center h-[2.75rem]"> <img class="w-3.5" src="/assets/images/tick.svg"></div>
            <div class="flex justify-center h-[2.75rem]"> </div>
            <hr class="border  border-gray">
            <div class="flex mt-2.5 justify-center h-[2.75rem]"> <img class="w-3.5" src="/assets/images/tick.svg"></div>
            <div class="flex  justify-center h-[2.75rem]"> <img class="w-3.5" src="/assets/images/tick.svg"></div>
            <div class="flex mb-5 justify-center h-[2.75rem]"> </div>

          </div>

        </div>
      <div class="bg-white border rounded-lg shadow-lg ">
          <div class="m-5">
            <p class="translate-y-6 md:translate-y-0  -rotate-90 md:rotate-0 font-bold text-center text-lg lg:text-2xl mb-2.5 lg:py-0 py-6 md:py-0 sm:py-4">Premium</p>
            <button type="button"
              class=" hidden md:block flex mx-auto px-2 rounded-full border border-secondary lg:text-[0.875rem] text-[0.575rem]  bg-white font-bold leading-6 text-secondary shadow-sm hover:bg-primary hover:text-white hover:border-primary focus-within:bg-primary focus-within:text-tertiary">
              Solicita demo</button>
            <hr class="mt-[3.125rem] border border-gray">
            <div class="flex justify-center mt-2.5 h-[2.75rem] "> <img class="w-3.5" src="/assets/images/tick.svg"></div>
            <div class="flex justify-center h-[2.75rem] items-center"> <img class="w-3.5" src="/assets/images/tick.svg"></div>
            <div class="flex justify-center h-[2.75rem]"> <img class="w-3.5" src="/assets/images/tick.svg"></div>
            <div class="flex justify-center h-[2.75rem]"> </div>
            <hr class="border  border-gray">
            <div class="flex mt-2.5 justify-center h-[2.75rem]"> <img class="w-3.5" src="/assets/images/tick.svg"></div>
            <div class="flex  justify-center h-[2.75rem]"> <img class="w-3.5" src="/assets/images/tick.svg"></div>
            <div class="flex mb-5 justify-center h-[2.75rem]"><img class="w-3.5" src="/assets/images/tick.svg"> </div>

          </div>
        </div>
        <div>

        </div>
      </div>


    </div>


  </div>


</div>
