<div class="md:flex flex-column m-auto -mt-11  mb-14 justify-center max-w-screen-lg m-auto lg:mx-auto sm:mx-32 md:mx-10">
  <div class="relative   text-primary rounded-lg sm:mb-12 mb-12  bg-white shadow-lg mx-8 px-14 py-6 tracking-wide">
    <span class="rounded absolute bg-secondary inline-flex -left-5 top-8  h-5 w-16"> </span>
      <p class="font-normal leading-5">1«Lorem ipsum dolor sit amet, consectetuerff adipiscing elit.
        Aenean
        commodo
        ligula eget dolor. Cum et magnis dis parturient montes.»</p>
    <p class="mt-9 font-bold ">Persona con Nombre Apellidos</p>
    <p class="font-normal inline-flex">Alcaldesa de Villahermosa</p>
    <span class=" rounded absolute bg-secondary inline-flex  -right-4 bottom-8 h-5 w-16"> </span>

  </div>
<div class="relative   text-primary rounded-lg sm:mb-12 mb-12  bg-white shadow-lg mx-8 px-14 py-6 tracking-wide">
  <span class="rounded absolute bg-secondary inline-flex -left-10 top-8  h-5 w-16"> </span>
    <p class="font-normal leading-5">1«Lorem ipsum dolor sit amet, consectetuerff adipiscing elit.
      Aenean
      commodo
      ligula eget dolor. Cum et magnis dis parturient montes.»</p>
  <p class="mt-9 font-bold ">Persona con Nombre Apellidos</p>
  <p class="font-normal inline-flex">Alcaldesa de Villahermosa</p>
  <span class=" rounded absolute bg-secondary inline-flex -right-4 bottom-8 h-5 w-16"> </span>

</div>

</div>
