<div class="md:flex flex-column m-auto  mb-14 -mt-12 justify-center max-w-screen-lg m-auto lg:mx-auto sm:mx-32 md:mx-10 ">
<div class=" text-primary rounded-lg sm:mb-12   bg-white shadow-lg mx-8 px-14 py-6 tracking-wide">
  <img class="float-left -translate-x-[6rem]" src="/assets/images/rectangle.svg">
  <div class="flex">
    <p class="font-normal leading-5 -ml-[6.5rem]">1«Lorem ipsum dolor sit amet, consectetuerff adipiscing elit.
      Aenean
      commodo
      ligula eget dolor. Cum et magnis dis parturient montes.»</p>
  </div>
  <p class="mt-9 font-extrabold ">Persona con Nombre Apellidos</p>
  <div class="flex">
    <p class="font-normal inline-flex">Alcaldesa de Villahermosa</p>
  </div><img class="float-right translate-x-[6.5rem] -translate-y-[2rem]" src="/assets/images/rectangle.svg">
</div>
<div class=" text-primary rounded-lg sm:mb-12  bg-white shadow-lg mx-8 px-14 py-6 tracking-wide">
  <img class="float-left -translate-x-[6rem]" src="/assets/images/rectangle.svg">
  <div class="flex">
    <p class="font-normal leading-5 -ml-[6.5rem]">1«Lorem ipsum dolor sit amet, consectetuerff adipiscing elit.
      Aenean
      commodo
      ligula eget dolor. Cum et magnis dis parturient montes.»</p>
  </div>
  <p class="mt-9 font-extrabold ">Persona con Nombre Apellidos</p>
  <div class="flex">
    <p class="font-normal inline-flex">Alcaldesa de Villahermosa</p>
  </div><img class="float-right translate-x-[6.5rem] -translate-y-[2rem]" src="/assets/images/rectangle.svg">
</div>

</div>
