<!--Fifth section-->
<div id="seccion1">
  <div class=" max-w-screen-lg m-auto ">
    <div class=" grid grid-cols-12 mx-4 gap-x-10">
      <div class="col-span-6">
        <div class="text-xl text-primary font-bold  mb-[4.2rem]">¿Y cuánto cuesta todo esto?</div>
        <div class=" bg-white rounded-lg border shadow-2xl text-primary">
          <div class="p-10 leading-5">
            <p class="text-5xl font-extrabold mb-8">Gratis</p>
            <p class="font-medium tracking-wide">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
              dolor. Aenean massa.
            </p>
            <p class="mt-8 tracking-wide">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
              Aenean massa.
              Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
            <button type="button"
              class="mt-8 flex tracking-wide ml-auto py-3 px-6 rounded-full border border-transparent text-xl bg-secondary font-extrabold leading-6 text-white shadow-sm hover:bg-white hover:text-secondary hover:border-secondary">Pruébalo
              gratis</button>
          </div>

        </div>

        <p class="mt-[3rem] font-xl font-extrabold text-primary inline-flex">Compara los planes <img class="ml-5"
            src="/assets/images/arrow.svg"></p>
      </div>
      <div class="col-span-6 bg-gray-200 rounded-lg shadow-2xl border text-primary">
        <div class="p-10 text-primary leading-4">
          <p class="text-5xl font-extrabold mb-8">Premium</p>
          <p class="text-body-m  tracking-wide">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
            ligula eget dolor. Aenean massa. </p>
          <form class="mx-4">
            <div class="flex-columns flex items-center  mt-6">
              <mat-form-field class="bg-white w-[17rem]">
                <input class="h-[2.15rem]" type="email" matInput [formControl]="emailFormControl">
              </mat-form-field>
              <p class="ml-2 font-medium text-primary">habitantes</p>
            </div>
            <div class="flex-columns flex items-center  mt-6">
              <mat-form-field class="bg-white w-6">
                <input class="h-6" type="email" matInput [formControl]="emailFormControl">
              </mat-form-field>
              <p class="ml-2 font-medium text-primary">Cobro de tasas</p>
            </div>
            <div class="flex-columns flex items-center mt-6">
              <mat-form-field class="bg-white w-6">
                <input class="h-6" type="email" matInput [formControl]="emailFormControl">
              </mat-form-field>
              <p class="ml-2 font-medium text-primary">Control de accesos</p>
            </div>
            <hr class="mt-4  border  border-secondary">
            <div class="flex justify-end mt-3 ">
              <div class="my-auto mr-2 font-medium">
                Coste anual:
              </div>
              <span class="text-2xl font-extrabold">1000 €</span>
            </div>

          </form>
          <p class="text-body-s leading-4 mt-9 tracking-wide"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          </p>
          <button type="button"
            class="mt-8 flex tracking-wide ml-auto py-3 px-6 rounded-full border border-transparent text-xl bg-secondary font-bold leading-6 text-white shadow-sm hover:bg-white hover:border-secondary hover:text-secondary  ">
            Solicita una demo</button>
        </div>
      </div>


    </div>


  </div>
</div>
