<!-- First section-->
<div class="relative lg:max-w-screen-lg  m-auto ">
  <div class="grid md:grid-cols-12 lg:mx-4 mx-10 ms:mx-[7.5rem] md:mx-10 sm:mx-32 gap-x-10 leading-6 lg:leading-4 gap-x-8 place-items-center mb-28 ">
    <div class="md:col-span-7 lg:col-span-8 lg:mt-28 w-full">
      <img src="/assets/images/LOGO-reservas.svg">
      <p class="font-bold lg:text-display-m text-[2rem] md:text-[2.5rem] lg:leading-[3.5rem] leading-10 md:text-[40px]  text-primary mt-[1.5rem] ">Agiliza los procesos de reserva evitando
        desplazamientos, colas y pérdidas de tiempo</p>
      <div class="md:mt-[3.75rem] w-full mt-6 sm:inline-flex items-baseline">
        <button type="button"
          class="w-full  mb-3 tracking-wide lg:w-1/3 sm:w-1/2  items-center py-3 px-6 rounded-full border border-transparent text-xl bg-secondary font-bold leading-6 text-white shadow-sm hover:bg-primary hover:text-white hover:border-primary focus-within:bg-primary focus-within:text-tertiary">Pruébalo
          gratis</button>
        <button type="button"
          class=" justify-center w-full mb-6 lg:w-1/3 sm:w-1/2  tracking-wide  py-3 inline-flex items-center rounded-lg   text-xl leading-6 font-bold leading-4 text-secondary hover:text-primary hover:underline hover:underline-offset-4 focus:text-tertiary">Solicita
          una demo</button>
      </div>
    </div>

    <div class="lg:col-span-4 md:col-span-5 sm:ml-auto">
         <div class="w-[224px] h-[224px] lg:w-[304px] lg:h-[397px] md:w-[256px] md:h-[332px] bg-cover bg-[url('/assets/images/peoplephone.png')]"></div>
    </div>
  </div>
</div>
<span class="sm:block hidden md:hidden lg:hidden absolute top-96 w-full bg-cover 2xl:bg-center  h-12   bg-[url('/assets/images/decoheader.png')]"></span>
