<!--Second section-->
<div class="max-w-screen-lg m-auto mt-11">
<div *ngIf="lg">
  <div class="grid mx-4 gap-x-10 mb-16 lg:grid-cols-12">
    <div class="col-span-6 md w-full text-headline-m  font-bold text-primary  leading-9">Así puedes utilizar <img
        class="inline-flex" src="/assets/images/LOGO-reservas.svg"> para facilitarle
      la vida a tus vecinos</div>
    <div class="col-span-6 text-primary font-body-m tracking-wide">
      <p>Cada vez son más los ayuntamientos que gestionan sus reservas de manera
        digital con AYMO.
      </p>
      <p class="mt-1 mt-5 leading-5">Estos son solo algunos ejemplos de cómo este módulo puede mejorar la
        vida de tus
        vecinos. Las posibilidades son muy amplias y sólo dependen de las necesidades concretas de tu municipio.</p>
    </div>

  </div>
  <div class="grid mx-4 gap-x-10 mb-28 grid-cols-12">
    <div class="col-span-4 w-full flex flex-rows ">
      <div class="flex-none rounded w-[7.5rem] h-[7.5rem]  bg-center bg-[url('/assets/images/ima-1.png')]"></div>
      <div class="ml-5 tracking-wide">
        <p class="font-bold text-primary text-base leading-5">
          Instalaciones deportivas
        </p>
        <p class="mt-1 font-medium text-primary text-base leading-5">
          Reserva de sesiones en la pista de pádel municipal
        </p>
      </div>
    </div>
    <div class="col-span-4 w-full flex flex-rows ">
      <div class=" flex-none rounded w-[7.5rem] h-[7.5rem] bg-center bg-[url('/assets/images/ima-2.png')]"></div>
      <div class="ml-5 tracking-wide">
        <p class="font-bold text-primary text-base leading-5">
          Servicios municipales
        </p>
        <p class="mt-1 font-medium text-primary text-base leading-5">Obtener cita para una reunión con el técnico de
          urbanismo</p>
      </div>
    </div>
    <div class="col-span-4 w-full flex flex-rows ">
      <div class="flex-none rounded w-[7.5rem] h-[7.5rem] bg-center bg-[url('/assets/images/ima-3.png')]"></div>
      <div class="ml-5 tracking-wide">
        <p class="font-bold text-primary text-base leading-5">Otras dependencias </p>
        <p class="mt-1 font-medium text-primary text-base leading-5">Acceder de forma autónoma al punto limpio</p>
      </div>
    </div>
  </div>
</div>
<div *ngIf="md">
  <div class="grid grid-cols-2">
 <div class="grid mx-10 gap-x-10 mb-36 lg:grid-cols-12 ">
    <div class="col-span-6 text-headline-m  font-bold text-primary  leading-9">Así puedes utilizar <img
        class="inline-flex " src="/assets/images/LOGO-reservas.svg"> para facilitarle
      la vida a tus vecinos</div>
    <div class="col-span-6 text-primary font-body-m tracking-wide">
      <p>Cada vez son más los ayuntamientos que gestionan sus reservas de manera
        digital con AYMO.
      </p>
      <p class="mt-1 mt-5 leading-5">Estos son solo algunos ejemplos de cómo este módulo puede mejorar la
        vida de tus
        vecinos. Las posibilidades son muy amplias y sólo dependen de las necesidades concretas de tu municipio.</p>
    </div>

  </div>
  <div class="grid mx-4 gap-x-10 mb-28 grid-rows-3">
    <div class="col-span-4 w-full flex flex-rows  mb-6">
      <div class="flex-none rounded w-[7.5rem] h-[7.5rem]  bg-center bg-[url('/assets/images/ima-1.png')]"></div>
      <div class="ml-5 tracking-wide">
        <p class="font-bold text-primary text-base leading-5">
          Instalaciones deportivas
        </p>
        <p class="mt-1 font-medium text-primary text-base leading-5">
          Reserva de sesiones en la pista de pádel municipal
        </p>
      </div>
    </div>
    <div class="col-span-4 w-full flex flex-rows mb-6 ">
      <div class=" flex-none rounded w-[7.5rem] h-[7.5rem] bg-center bg-[url('/assets/images/ima-2.png')]"></div>
      <div class="ml-5 tracking-wide">
        <p class="font-bold text-primary text-base leading-5">
          Servicios municipales
        </p>
        <p class="mt-1 font-medium text-primary text-base leading-5">Obtener cita para una reunión con el técnico de
          urbanismo</p>
      </div>
    </div>
    <div class="col-span-4 w-full flex flex-rows  mb-6">
      <div class="flex-none rounded w-[7.5rem] h-[7.5rem] bg-center bg-[url('/assets/images/ima-3.png')]"></div>
      <div class="ml-5 tracking-wide">
        <p class="font-bold text-primary text-base leading-5">Otras dependencias </p>
        <p class="mt-1 font-medium text-primary text-base leading-5">Acceder de forma autónoma al punto limpio</p>
      </div>
    </div>
  </div>
  </div>
</div>
<div *ngIf="sm" >
  <div class="grid mx-10 gap-x-10 mb-16 md:mx-12 lg:grid-cols-12">
     <div class="col-span-6 w-full text-headline-m mb-8 font-bold text-primary  leading-9">Así puedes utilizar <img
         class="inline-flex" src="/assets/images/LOGO-reservas.svg"> para facilitarle
       la vida a tus vecinos</div>
     <div class="col-span-6 text-primary font-body-m tracking-wide">
       <p>Cada vez son más los ayuntamientos que gestionan sus reservas de manera
         digital con AYMO.
       </p>
       <p class="mt-1 mt-5 leading-5">Estos son solo algunos ejemplos de cómo este módulo puede mejorar la
         vida de tus
         vecinos. Las posibilidades son muy amplias y sólo dependen de las necesidades concretas de tu municipio.</p>
     </div>

   </div>
   <div class="grid mx-10  gap-x-10 mb-28 grid-rows-3 ] md:mx-12">
     <div class="col-span-4 w-full  flex-rows mb-6 ">
      <div class="sm:grid inline-flex grid-cols-2">
        <div class="flex sm:justify-end justify-center">
          <div class="rounded w-[7.5rem] h-[7.5rem]  bg-center bg-[url('/assets/images/ima-1.png')]"></div>
        </div>
        <div class="  ml-5 tracking-wide">
         <p class="font-bold text-primary text-base leading-5">
           Instalaciones deportivas
         </p>
         <p class="mt-1 font-medium text-primary text-base leading-5">
           Reserva de sesiones en la pista de pádel municipal
         </p>
       </div>
      </div>

     </div>
     <div class="col-span-4 w-full  flex-rows mb-6 ">
      <div class="sm:grid inline-flex grid-cols-2">
      <div class="flex sm:justify-end justify-center">
        <div class="rounded w-[7.5rem] h-[7.5rem]  bg-center bg-[url('/assets/images/ima-2.png')]"></div>
       </div>
        <div class="ml-5 tracking-wide">
         <p class="font-bold text-primary text-base leading-5">
           Servicios municipales
         </p>
         <p class="mt-1 font-medium text-primary text-base leading-5">Obtener cita para una reunión con el técnico de
           urbanismo</p>
       </div>
       </div>
     </div>
     <div class="col-span-4 w-full  flex-rows mb-6">
      <div class="sm:grid inline-flex grid-cols-2">
      <div class="flex sm:justify-end justify-center">
        <div class="rounded w-[7.5rem] h-[7.5rem]  bg-center bg-[url('/assets/images/ima-3.png')]"></div>
      </div>
       <div class="ml-5 tracking-wide">
         <p class="font-bold text-primary text-base leading-5">Otras dependencias </p>
         <p class="mt-1 font-medium text-primary text-base leading-5">Acceder de forma autónoma al punto limpio</p>
       </div>
      </div>
     </div>
   </div>
   </div>
</div>
