<div class="mt-28 max-w-screen-lg xl:mx-auto lg:mx-auto md:mx-8 sm:mx-32 mx-11 lg:px-4">
  <div class=" grid grid-cols-12  gap-x-10 text-primary justify-center">
    <div class="md:col-span-6 col-span-12  w-full font-medium">
      <p class="text-headline-s font-bold tracking-wide">Te acompañamos en todo momento</p>
      <p class="mt-8 tracking-wide text-body-l leading-6">Ofrecemos formación y ayuda constantes. Puedes contar con nosotros como tu “Concejalía de digitalización”</p>
        <p class="flex flex-columns mt-[6.75rem]  text-secondary">Ver todos los recursos<img class="ml-2.5" src="/assets/images/arrow7.svg"></p>
    </div>
    <div class="md:col-span-6 col-span-12 w-full font-medium ">
      <div class="grid grid-cols-2 gap-2">
        <div class="bg-white border rounded-lg border-primary">
          <div class="rounded-t-lg  h-[190px] bg-cover bg-[url('/assets/images/seccioncita.png')] "></div>
          <div class="m-2.5 tracking-wide">
        <p class="font-medium text-primary text-base leading-5">
          Aprende a dar de alta una dependencia municipal
        </p>
        <p class="flex flex-columns mt-4 text-body-s font-bold text-primary leading-5 text-tertiary"> <img class="mr-1" src="/assets/images/arrows7.svg">Leer mas</p>
      </div>
        </div>
        <div class="bg-white border border-primary rounded-lg ">
          <div class="rounded-t-lg  h-[190px] bg-cover bg-[url('/assets/images/seccioncita.png')]"></div>
          <div class="m-2.5 tracking-wide">
        <p class="font-medium text-primary text-base leading-5">
          Cómo crear las sesiones de un servicio municipal
        </p>
        <p class="flex flex-columns mt-4 text-body-s font-bold text-primary leading-5 text-tertiary"> <img class="mr-1" src="/assets/images/arrows7.svg">Leer mas</p>
      </div>
        </div>
      </div>
    </div>
  </div>
</div>
