<div class="mt-28 max-w-screen-lg m-auto ">
  <div class=" grid grid-cols-12 mx-4 gap-x-10">
    <div class="col-span-6  w-full font-medium ">
      <p>Te acompañamos en todo momento</p>
      <p>Ofrecemos formación y ayuda constantes. Puedes contar con nosotros como tu “Concejalía de digitalización”</p>
    </div>
    <div class="col-span-6  w-full font-medium ">
      <div class="grid grid-cols-2 gap-2">
        <div class="bg-white border rounded-lg shadow-xl">
          <div class="rounded-t-lg  h-[190px] bg-cover bg-center bg-[url('/assets/images/seccion7b.svg')]"></div>
          <div class="ml-5 tracking-wide">
        <p class="font-bold text-primary text-base leading-5">
          Aprende a dar de alta una dependencia municipal
        </p>
        <p class="mt-1 font-medium text-primary text-base leading-5">Leer mas</p>
      </div>
        </div>
        <div class="bg-white border rounded-lg shadow-xl">
          <div class="rounded-t-lg  h-[190px] bg-cover bg-center bg-[url('/assets/images/seccion7.svg')]"></div>
          <div class="ml-5 tracking-wide">
        <p class="font-bold text-primary text-base leading-5">
          Aprende a dar de alta una dependencia municipal
        </p>
        <p class="mt-1 font-medium text-primary text-base leading-5">Leer mas</p>
      </div>
        </div>
      </div>
    </div>
  </div>
</div>
