/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Gentona;
    font-weight: 400;
    src: url(/fonts/Gentona-Complete/GentonaMedium.otf) format("otf");
  }
}
