<app-first-section-component></app-first-section-component>
<div class="bg-cover 2xl:bg-center  h-12   bg-[url('/assets/images/decoheader.png')]">
</div>

<app-second-section-component></app-second-section-component>
<app-third-section-component></app-third-section-component>
<app-carousel-section-component></app-carousel-section-component>
<app-fourth-section-component></app-fourth-section-component>
<app-fifth-section-component></app-fifth-section-component>
<app-sixth-section-component></app-sixth-section-component>
<app-seventh-section-component></app-seventh-section-component>
<app-eighth-section-component></app-eighth-section-component>

