<div class="bg-primary"><div class="mt-28 max-w-screen-lg m-auto  bg-primary ">
  <div class="grid grid-cols-12 xl:mx-4 lg:mx-4 md:mx-11 sm:mx-32 mx-11 gap-x-10 justify-items-center">
    <div class="md:col-span-6 col-span-12 my-20 w-full font-medium">
      <p class="text-display-s font-bold text-tertiary mb-10">Solicita una demo</p>
      <p class="text-body-l leading-5 tracking-wide text-white mb-5 mr-[51px]">Fija una reunión con nosotros y te mostraremos cómo <img  class="inline-flex" src="/assets/images/LOGO2-reservas.svg"> puede ayudar a tu municipio.</p>
      <p class="font-extrabold text-body-m  tracking-wide text-white mr-[51px]">Es muy recomendable que dispongas de cámara web, micrófono y altavoces para poder hacer la demostración de forma correcta. No obstante, también lo podremos hacer por teléfono paso a paso.</p>
    </div>
    <div class="md:col-span-6 col-span-12 my-20 font-medium">
      <mat-card class="w-[19rem]">
        <mat-calendar [(selected)]="selected"></mat-calendar>
      </mat-card>
<!--       <p>Selected date: {{selected}}</p> -->
    </div>
  </div>
</div>
</div>
